@import '../../../global';

.table-part {
    position: fixed;
    left: 0px;
    top: 30%;
    @include bsd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
    max-height: 300px;
    transform: translateX(-150px);
    overflow-y: scroll;
    @include fadeInSlide(-150px, 0px, 'x');
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: #f5f5f5;
    }
    background-color: white;
    &__hide {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: white;
        @include absolute(10) {
            top: 0;
            right: 0;
            left: 0;
        }
        width: 100%;
        display: flex;
        justify-content: end;
        i {
            padding: 10px;
            font-size: 20px;
            &:hover {
                @include hover;
            }
        }
    }
    .rotateY {
        transform: rotateY(180deg);
    }
    &__content {
        display: block;
    }
    &__item:first-child {
        margin-top: 30px;
    }
    &__item {
        font-size: 17px;
        display: flex;
        margin: auto;
        .item-active {
            width: 2px;
            height: 20px;
            margin-right: 3px;
            background: black;
            padding-bottom: 35px;
            display: none;
        }
        p {
            user-select: none;
            margin: 5px;
            font-size: 15px;
            text-align: center;
        }
        .bold {
            font-weight: 500;
        }
        &:hover .item-active {
            display: inline-block;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover .part-item__text {
            font-weight: 500;
        }
        &:last-child {
            margin-bottom: 5px;
        }
    }
}
.isHideTable {
    @include fadeOutSlide(0, -110px, 'x');
}
.isShowTable {
    @include fadeInSlide(-110px, 0px, 'x');
    opacity: 1;
}
